# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.log
*.out
*.err
*.sbatch
models/
4DFlowNet/*
.vscode/
results/*
data/aortic_data
data/cerebro_data
data/UCSF_data
data/CARDIAC
data/example_data
venv_setup.txt
outputfiles/*

