# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.log
*.out
*.err
*.sbatch
*.sh
models/
4DFlowNet/*
data/*
results/*
.vscode/
venv_setup.txt
outputfiles/*
my_job.sbatch
training.sbatch
*.h5
prediction_multiplefiles.sh
OLD_README.md
src/create_patch_csvs_win.sh
src/create_patch_csvs.sh
src/utils/recover_fcts.py
src/test3.py
src/test4.py
src/prepare_data/cfl.py
src/test5_cs_cfltoh5.py
